# ===== backend (Node.js) =====
DB_HOST=bd
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=gallerydb

# ===== postgres =====
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=gallerydb

# ===== minio (S3-совместимое хранилище файлов) =====
# Внутренний адрес, по которому backend ходит в MinIO из docker-сети
MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=gallery

# Публичный URL, который браузер использует для <img src>. НЕ minio:9000!
# ВАЖНО: это адрес, доступный из браузера пользователя (см. README).
MINIO_PUBLIC_URL=http://localhost:9000

# Креды корневого пользователя MinIO (должны совпадать с MINIO_ACCESS_KEY/SECRET_KEY)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin

# ===== pgadmin =====
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
